@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
	background-color: black;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

#inputsContainer {
	margin-top: 30px;
	display: flex;
	align-content: center;
	justify-content: center;
}

#timeInput {
	padding: 5px;
	text-align: center;
	margin: 3px;
	border-width: 2px;
	border-radius: 10px;
	border-color: black;
	background-color: white;
}

#top-container {
	display: flex;
	align-items: end;
	align-content: center;
	justify-content: center;
}

#changeBackground {
	background-image: url("bgicon.png");
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
	border-width: 0px;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 20px;
}

#titleButton {
	background-image: url("edit.png");
	background-color: white;
	border-width: 0px;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: 35px 35px;
	margin: 15px;
	margin-bottom: 80px;
	opacity: .2;
}

#titleButton:hover {
	background-color: gray;
}

#changeBackground:hover {
	background-color: gray;
}

#title {
	color: white;
	font-family: 'Inter';
	font-weight: bolder;
	font-size: 5.75rem;
	margin-top: 10rem;
	text-align: center;
	
}

#numbers {
	display: flex;
	justify-content: center;
}

.number {
	width: 170px;
	margin-top: -20px;
	color: white;
	font-family: 'Inter';
	font-size: 5rem;
	display: flex;
	justify-content: space-around;
}

#words {
	display: flex;
	justify-content: center;
}

.word {
	color: white;
	width: 170px;
	margin-top: 0px;
	font-family: 'Inter';
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
}

#hereMessage {
	font-family: 'Inter';
	color: white;
	font-size: 5rem;
	width: 647px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: -200px;
}
